<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <%= image_tag "seddit_logo.png", id: "nav_logo" %>
      <h1 id="nav_title">Seddit</h1>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto">
        <% if user_session %>
          <%= link_to "New Post", new_post_path, class: "btn btn-outline-primary ms-2" %>
          <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "btn btn-primary ms-2" %>
        <% else %>
          <%= link_to "Log In", new_user_session_path, class: "btn btn-outline-primary ms-2" %>
          <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary ms-2" %>
        <% end %>
      </div>
    </div>
  </div>
</nav>
